.vagrant
.DS_Store

mattermost*gz
maattermost-update/

config.vagrant.json

mattermost-export*.sql
slave_setup.sql

license.txt
e10license.txt
e20license.txt
hosts
nginx_hosts
mattermost_archives
db_config.json